[user]
  email = matthew@eudaimonia.io
  name = Matthew Coleman
[core]
  excludesfile = /home/mcoleman/.gitignore_global
[alias]
  b  = "branch"
  c  = "checkout"
  ca = "!git add . && git commit --message"
  cf = "!git add . && git commit --all --amend --no-edit"
  d  = "diff"
  dc = "diff --color"
  df = "diff --no-prefix -U1000"
  dr = "!. ~/.rc.d/git && git_del_remotes"
  gp = "!. ~/.rc.d/git && git_gen_patch"
  p  = "push"
  pd = "push --delete"
  pf = "!git cf && git push --force"
  pr = "pull --rebase"
  prm = "pull --rebase origin master"
  s  = "status"
  smu = "submodule update --init --recursive"
  ss = "stash save -u"
[diff]
  tool = vimdiff
[push]
  default = current
