[user]
  email = matthew@eudaimonia.io
  name = Matthew Coleman
[core]
  excludesfile = /home/mcoleman/.gitignore_global
[alias]
  cf = "!git add . && git commit -a --amend --no-edit"
  dc = "diff --color"
  gp = "!source ~/.rc.d/git && gen_patch"
  pf = "!git cf && git push -f"
  rd = "!git branch -D $1 && git push origin :$1 "
  rf = "!git stash -u && git pull --rebase origin master && git stash pop"
  ss = "stash save -u"
  su = "!git gc && git fetch -p && git pull --rebase origin master"
  vd = "difftool"
[diff]
  tool = vimdiff
[push]
  default = simple
