[user]
  email = matthew@eudaimonia.io
  name = Matthew Coleman
[core]
  excludesfile = /home/mcoleman/.gitignore_global
[alias]
  b  = "branch"
  ca = "!git add . && git commit --message"
  cf = "!git add . && git commit --all --amend --no-edit"
  d  = "diff"
  dc = "diff --color"
  gp = "!. ~/.rc.d/git && gen_patch"
  p  = "push"
  pf = "!git cf && git push --force"
  pm = "pull --rebase origin master"
  s  = "status"
  ss = "stash save -u"
[diff]
  tool = vimdiff
[push]
  default = simple
